
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex-shrink: 0;
}

footer {
    flex-shrink: 0;
    width: 100vw;
}

#sidebar {
    flex-shrink: 0;
    max-width: 200px;
    background-color: #343a40;
    color: white;
    position: sticky;
    top: 0;
    bottom: 0;
    overflow-x: scroll;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #sidebar{
        width: 120px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    #sidebar{
        width: 130px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    #sidebar{
        width: 150px !important;
    }
}

#content {
    flex-grow: 1;
}

.content-screen {
    display: none;
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
    }

    .content-screen {
        padding-top: 20px;
    }
}

/* loader */
#myloader{
    width: 100vw;
    height: 100vh;
}
