/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
}

/* Sidebar links */
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Sidebar links on hover */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The "open" button */
.navbar-toggler-icon {
    cursor: pointer;
}

/* loader */
#myloader{
    width: 100vw;
    height: 100vh;
}

/* Style page content - use this if you want content to be on the same line as the sidebar when opened */
#main {
    transition: margin-left .5s;
    padding: 16px;
    /* background-image: url("./../assets/img/backgroundimages.jpeg");
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center;
    background-size: 100vw 100vh; */
}


footer {
    background: #222;
    color: #fff;
    width: 100vw;
}

footer h5 {
    color: #fff;
    font-weight: bold;
}

footer a {
    color: #bbb;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

footer .list-inline-item .btn {
    border-radius: 50%;
    color: #fff;
    border-color: #fff;
}

footer .list-inline-item .btn:hover {
    color: #fff;
    background-color: #666;
}


/* # below css for  */
header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* Ensures the header stays on top of other content */
    border-bottom: 1px solid #ccc; /* Optional: adds a bottom border to the header */
}

.container-fluid {
    max-width: 100%;
    padding: 0 20px; /* Adjust padding as necessary */
}

.navbar-brand {
    margin-right: auto;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-toggler {
    margin-left: auto;
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none; /* Hide the toggle button on larger screens */
    }
}
